.footer__bottom.center.mb1.mt3
   article.footer__block &copy;&nbsp;
      span 2024&nbsp;&ndash;&nbsp;
      span.footer__year
      |  &nbsp;•••&nbsp;&nbsp;elGranto
   #totop.footer__totop
      .icon-arrow-top


