mixin events_calendar-null( month, m )
   .events_calendar__one_month
      .row
         .calendar.col
            .relative
            .calendar__holder
               img( src='./assets/data/calendar/#{month}.svg' )

         .event__name-empty
