.number__diagram
   .diagram__holder
      .diagram__element.diagram_element-gray.diagram_element-short
         object( type="image/svg+xml", data="assets/data/images/animated/diagram/gray.svg" )
            img( src='./assets/data/icons/animated/gray.svg' )
      .diagram__element.diagram_element-blue
         object( type="image/svg+xml", data="assets/data/images/animated/diagram/blue.svg" )
            img( src='./assets/data/icons/animated/blue.svg' )
      .diagram__element.diagram_element-dark
         object( type="image/svg+xml", data="assets/data/images/animated/diagram/dark.svg" )
            img( src='./assets/data/icons/animated/dark.svg' )
      .diagram__element.diagram_element-red.diagram_element-long
         object( type="image/svg+xml", data="assets/data/images/animated/diagram/red.svg" )
            img( src='./assets/data/icons/animated/red.svg' )
      .diagram__element.diagram_element-orange.diagram_element-long
         object( type="image/svg+xml", data="assets/data/images/animated/diagram/orange.svg" )
            img( src='./assets/data/icons/animated/orange.svg' )

