mixin doc( title, link )
   article.doc__holder.mb4
      .doc__icon
      .doc_text__holder
         strong.block.text-22 !{title}
         a( href='./assets/data/files/documentation/#{link}' target='_blank' ).doc__more.hover.inline Скачать
