.list__pagination_container
   .list__pagination_holder
      .pagination__item.pagination__arrow.pagination_disable#prev( style='display: none' )
      .pagination__item.pagination__numb.pagination_active#num_1( style='display: none' ) 1
      .pagination__item.pagination__numb#num_2( style='display: none' ) 2
      .pagination__item.pagination__numb#num_3( style='display: none' ) 3
      .pagination__item.pagination__numb#num_4( style='display: none' ) 4
      .pagination__item.pagination__numb#num_5( style='display: none' ) 5
      .pagination__item.pagination__arrow#next( style='display: none' )

