mixin participation( numb, text)
   article.hackathon_participation__holder.mb3
      .hackathon_participation__icon
         div( class='hackathon_participation__icon-#{numb}' )
      .hackathon_participation__text !{text}
