mixin trigger( date, number )
   .schedule__trigger
      .schedule__day
         h1.schedule__date !{date} ноября,&nbsp;
         h2.schedule__numb День !{number}
      .schedule__more
         .schedule_more__arrow
