section.schedule_table__holder.list
   article.row
      .block-4
      .block-20
         .schedule__event.mt3
            .icon-dot-green.empty
            .schedule__tr
               .schedule__td-1
                  h1
                     strong.text-25 Общая
                        br
                        | программа
               .schedule__td-2
                  h1
                     strong.text-25 Программирование
               .schedule__td-3
                  h1
                     strong.text-25 Диджитал
                  .text-22 (VR/AR технологии)
               .schedule__td-4
                  h1
                     strong.text-25 Информационная безопасность
   article.row
      .block-4
         strong.text-27 8:30&nbsp;&ndash;&nbsp;9:30
         .text-22 Центральный холл
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25 Встреча участников

   article.row
      .block-4
         strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr.pd0
               .schedule__td-1
               .schedule__td-big
                  .schedule__td-2
                     h2.text-25.mb08 Финальная доработка и&nbsp;сдача проектов
                     .text-20 (ауд. 121, 122, 123, 220, 225, 228, 232)
                  .schedule__td-2
                     h2.text-25.mb08 Прием проектов
                     .text-20 (ауд. 440)
               .schedule__td-big
                  .schedule__td-3
                     h2.text-25.mb08 Финальная доработка и&nbsp;сдача проектов
                     .text-20 (ауд. 320, 323, 330, 332)
                  .schedule__td-3
                     h2.text-25.mb08 Прием проектов
                     .text-20 (ауд. 419)
               .schedule__td-big
                  .schedule__td-4
                     h2.text-25.mb08 Финальная доработка и&nbsp;сдача проектов
                     .text-20 (ауд. 329)
                  .schedule__td-4
                     h2.text-25.mb08 Прием проектов
                     .text-20 (ауд. 326)

   article.row
      .block-4
         strong.text-27 10:30&nbsp;–&nbsp;12:00
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__td-1.font-sm
                  h2.text-25.mb08 Общее развлекательное мероприятие
                  .text-20  Большой зал
               .schedule__td-2
                  h2.text-25.mb08 Экспертиза проектов
                  .text-20 (ауд. 440)
               .schedule__td-3
                  h2.text-25.mb08 Экспертиза проектов
                  .text-20 (ауд. 419)
               .schedule__td-4
                  h2.text-25.mb08 Экспертиза проектов
                  .text-20 (ауд. 326)


   article.row
      .block-4
         strong.text-27
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr.pd0
               .schedule__td-1
               .schedule__td-big
                  .schedule__td-2
                     h1.text-25.mb 12:00 - 12:40
                     h2.text-25.mb08 Обеденный перерыв
                  .schedule__td-2
                     h1.text-25.mb 13:00 - 13:40
                     h2.text-25.mb08 Подведение итогов
               .schedule__td-big
                  .schedule__td-3
                     h1.text-25.mb 12:40 - 13:20
                     h2.text-25 Обеденный перерыв
                  .schedule__td-3
                     h1.text-25.mb 13:20 - 14:00
                     h2.text-25.mb08 Подведение итогов
                     .text-20 (ауд. 419)
               .schedule__td-big
                  .schedule__td-4
                     h1.text-25.mb 12:00 - 13:00
                     h2.text-25.mb08 Подведение итогов
                     .text-20 (ауд. 326)
                  .schedule__td-4
                     h1.text-25.mb 13:30 - 14:00
                     h2.text-25 Обеденный перерыв


   article.row
      .block-4
         strong.text-27 14:00&nbsp;–&nbsp;16:00
         .text-22 Большой зал
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1.mb
                     strong.text-25 Финальные защиты и&nbsp;Церемония Закрытия мероприятия

   article.row
      .block-4
         strong.text-27 16:00
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25.mb06 Отъезд участников
               .finish



include __schedule-triger
.schedule_list__holder.list
   section
      +triggerinn( 'Программирование')

      .schedule__list
         article.row
            .block-6
               strong.text-27 8:30&nbsp;&ndash;&nbsp;9:30
               .text-22 Центральный холл
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Встреча участников

         article.row
            .block-6
               strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 Финальная доработка и&nbsp;сдача проектов
                        .text-20 (ауд. 121, 122, 123, 220, 225, 228, 232)
                     .schedule__block
                        h2.text-25.mb08 Прием проектов
                        .text-20 (ауд. 440)

         article.row
            .block-6
               strong.text-27 10:30&nbsp;&ndash;&nbsp;12:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 Общее развлекательное мероприятие
                        .text-20  Большой зал
                     .schedule__block
                        h2.text-25.mb08 Экспертиза проектов
                        .text-20 (ауд. 440)

         article.row
            .block-6
               strong.text-27 Обед
            .block-18
               .schedule__event
                  .icon-food-green
                  .schedule__block
                     h1.text-25.mb 12:00 - 12:40
                     h2.text-25.mb08 Обеденный перерыв

         article.row
            .block-6
               strong.text-27 13:00&nbsp;–&nbsp;13:40
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25.mb08 Подведение итогов

         article.row
            .block-6
               strong.text-27 14:00&nbsp;–&nbsp;16:00
               .text-22 Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25.mb08 Финальные защиты и&nbsp;Церемония Закрытия мероприятия

         article.row
            .block-6
               strong.text-27 16:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Отъезд участников


.schedule_list__holder.list
   section
      article.schedule_trigger.schedule__trigger-noborder
         .schedule__more
            .schedule_more__angle
         .schedule__day
            h1.schedule__name Диджитал&nbsp;
            h2.schedule__sub-name  (VR/AR технологии)

      .schedule__list
         article.row
            .block-6
               strong.text-27 8:30&nbsp;&ndash;&nbsp;9:30
               .text-22 Центральный холл
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Встреча участников

         article.row
            .block-6
               strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 Финальная доработка и&nbsp;сдача проектов
                        .text-20 (ауд. 320, 323, 330, 332)
                     .schedule__block
                        h2.text-25.mb08 Прием проектов
                        .text-20 (ауд. 419)

         article.row
            .block-6
               strong.text-27 10:30&nbsp;&ndash;&nbsp;12:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 Общее развлекательное мероприятие
                        .text-20  Большой зал
                     .schedule__block
                        h2.text-25.mb08 Экспертиза проектов
                        .text-20 (ауд. 419)

         article.row
            .block-6
               strong.text-27 Обед
            .block-18
               .schedule__event
                  .icon-food-green
                  .schedule__block
                     h1.text-25.mb 12:40 - 13:20
                     h2.text-25.mb08 Обеденный перерыв

         article.row
            .block-6
               strong.text-27 13:20&nbsp;–&nbsp;14:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25.mb08 Подведение итогов

         article.row
            .block-6
               strong.text-27 14:00&nbsp;–&nbsp;16:00
               .text-22 Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Финальные защиты и&nbsp;Церемония Закрытия мероприятия

         article.row
            .block-6
               strong.text-27 16:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Отъезд участников


.schedule_list__holder.list
   section
      +triggerinn('Информационная безопасность')

      .schedule__list
         article.row
            .block-6
               strong.text-27 8:30&nbsp;&ndash;&nbsp;9:30
               .text-22 Центральный холл
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Встреча участников

         article.row
            .block-6
               strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 Финальная доработка и&nbsp;сдача проектов
                        .text-20 (ауд.329)
                     .schedule__block
                        h2.text-25.mb08 Прием проектов
                        .text-20 (ауд. 326)

         article.row
            .block-6
               strong.text-27 10:30&nbsp;&ndash;&nbsp;12:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 Общее развлекательное мероприятие
                        .text-20  Большой зал
                     .schedule__block
                        h2.text-25.mb08 Экспертиза проектов
                        .text-20 (ауд. 326)

         article.row
            .block-6
               strong.text-27 12:00&nbsp;–&nbsp;13:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25.mb08 Подведение итогов
                     .text-20 (ауд. 326)


         article.row
            .block-6
               strong.text-27 Обед
            .block-18
               .schedule__event
                  .icon-food-green
                  .schedule__block
                     h1.text-25.mb 13:30 - 14:00
                     h2.text-25.mb08 Обеденный перерыв


         article.row
            .block-6
               strong.text-27 14:00&nbsp;–&nbsp;16:00
               .text-22 Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25.mb08 Финальные защиты и&nbsp;Церемония Закрытия мероприятия

         article.row
            .block-6
               strong.text-27 16:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Отъезд участников
