section.schedule_table__holder.list
   article.row
      .block-4
      .block-20
         .schedule__event.mt3
            .icon-dot-green.empty
            .schedule__tr
               .schedule__td-1
                  h1
                     strong.text-25 Общая
                        br
                        | программа
               .schedule__td-2
                  h1
                     strong.text-25 Программирование
               .schedule__td-3
                  h1
                     strong.text-25 Диджитал
                  .text-22 (VR/AR технологии)
               .schedule__td-4
                  h1
                     strong.text-25 Информационная безопасность
   article.row
      .block-4
         strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
         .text-22 Центральный холл
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25 Регистрация участников

   article.row
      .block-4
         strong.text-27 10:30&nbsp;&ndash;&nbsp;11:40
         .text-22  Большой зал
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25 Церемония открытия мероприятия
   article.row
      .block-4
         strong.text-27 11:50&nbsp;–&nbsp;14:00
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr.pd0
               .schedule__td-1
               .schedule__td-big
                  .schedule__td-2
                     h1.text-25.mb 11:50 - 12:30
                     h2.text-25.mb08 Установка на хакатон
                     .text-20 (ауд. 111)
                  .schedule__td-2
                     h1.text-25.mb 13:00 - 14:00
                     h2.text-25.mb08 1 этап разработки
                     .text-20 (ауд. 121, 122, 123, 220, 225, 228, 232)
               .schedule__td-big
                  .schedule__td-3
                     h1.text-25.mb 11:50 - 12:30
                     h2.text-25.mb08 Установка на хакатон
                     .text-20 (ауд. 419)
                  .schedule__td-3
                     h1.text-25.mb 12:30 - 13:10
                     h2.text-25.mb08 1 этап разработки
                     .text-20 (ауд. 320, 323, 330, 332)
               .schedule__td-big
                  .schedule__td-4
                     h1.text-25.mb 11:50 - 12:30
                     h2.text-25.mb08 Установка на хакатон
                     .text-20 (ауд. 329)
                  .schedule__td-4
                     h1.text-25.mb 12:30 - 13:50
                     h2.text-25.mb08 1 этап разработки
                     .text-20 (ауд. 329)

   article.row
      .block-4
         strong.text-27 Обед
      .block-20
         .schedule__event.mml03
            .icon-food-green
            .schedule__tr.pd0
               .schedule__td-1
               .schedule__td-big
                  .schedule__td-2
                     h1.text-25.mb 12:30 - 12:50
                     h2.text-25.mb08 Обеденный перерыв
                     .text-20 (команды 220, 225, 228, 232)
                  .schedule__td-2
                     h1.text-25.mb 12:50 - 13:10
                     h2.text-25.mb08 Обеденный перерыв
                     .text-20 (команды 121, 122, 123)
               .schedule__td-big
                  .schedule__td-3
                     h1.text-25.mb 13:10 - 13:50
                     h2.text-25 Обеденный перерыв
               .schedule__td-big
                  .schedule__td-4
                     h1.text-25.mb 13:50 - 14:20
                     h2.text-25 Обеденный перерыв


   article.row
      .block-4
         strong.text-27 14:00&nbsp;–&nbsp;16:00
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__td-1.font-sm
                  h2.text-25.mb08 Мастер класс VARWIN для взрослых
                  .text-20 (ауд. 324)
               .schedule__td-2
                  h2.text-25.mb08 2 этап разработки
                  .text-20 (ауд. 121, 122, 123, 220, 225, 228, 232)
               .schedule__td-3
                  h2.text-25.mb08 2 этап разработки
                  .text-20 (ауд. 320, 323, 330, 332)
               .schedule__td-4
                  h2.text-25.mb08 2 этап разработки
                  .text-20 (ауд. 329)

   article.row
      .block-4
         strong.text-27 16:00&nbsp;–&nbsp;17:00
         .text-22  Большой зал
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25 Консультация&ndash;демонстрация формата предстоящей защиты проектов

   article.row
      .block-4
         strong.text-27 17:10&nbsp;–&nbsp;17:30
         .text-22 Холл третьего этажа
      .block-20
         .schedule__event.mml03
            .icon-coffee-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25 Кофе&ndash;брейк

   article.row
      .block-4
         strong.text-27 17:40&nbsp;–&nbsp;19:10
         .text-22  Большой зал
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25 Нетворкинг

   article.row
      .block-4
         strong.text-27 19:10
      .block-20
         .schedule__event
            .icon-dot-green
            .schedule__tr
               .schedule__about
                  h1
                     strong.text-25.mb06 Отъезд участников
               .finish



include __schedule-triger
.schedule_list__holder.list
   section
      +triggerinn( 'Программирование')
      .schedule__list
         article.row
            .block-6
               strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
               .text-22 Центральный холл
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Регистрация участников

         article.row
            .block-6
               strong.text-27 10:30&nbsp;&ndash;&nbsp;11:40
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Церемония открытия мероприятия

         article.row
            .block-6
               strong.text-27 11:50&nbsp;–&nbsp;14:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h1.text-25.mb 11:50 - 12:30
                        h2.text-25.mb08 Установка на хакатон
                        .text-20 (ауд. 111)
                     .schedule__block
                        h1.text-25.mb 13:00 - 14:00
                        h2.text-25.mb08 1 этап разработки
                        .text-20 (ауд. 121, 122, 123, 220, 225, 228, 232)
         article.row
            .block-6
               strong.text-27 Обед
            .block-18
               .schedule__event
                  .icon-food-green
                  .schedule__column
                     .schedule__block-sm
                        h1.text-25.mb 12:30 - 12:50
                        h2.text-25.mb08 Обеденный перерыв
                        .text-20 (команды 220, 225, 228, 232)
                     .schedule__block
                        h1.text-25.mb 12:50 - 13:10
                        h2.text-25.mb08 Обеденный перерыв
                        .text-20 (команды 121, 122, 123)

         article.row
            .block-6
               strong.text-27 14:00&nbsp;–&nbsp;16:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 2 этап разработки
                        .text-20 (ауд. 121, 122, 123, 220, 225, 228, 232)
                     .schedule__block
                        h2.text-25.mb08 Мастер класс VARWIN для взрослых
                        .text-20 (ауд. 324)

         article.row
            .block-6
               strong.text-27 16:00&nbsp;–&nbsp;17:00
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Консультация&ndash;демонстрация формата предстоящей защиты проектов

         article.row
            .block-6
               strong.text-27 17:10&nbsp;–&nbsp;17:30
               .text-22 Холл третьего этажа
            .block-18
               .schedule__event
                  .icon-coffee-green
                  .schedule__block
                     h2.text-25 Кофе&ndash;брейк

         article.row
            .block-6
               strong.text-27 17:40&nbsp;–&nbsp;19:10
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Нетворкинг

         article.row
            .block-6
               strong.text-27 19:10
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Отъезд участников


.schedule_list__holder.list
   section
      article.schedule_trigger.schedule__trigger-noborder
         .schedule__more
            .schedule_more__angle
         .schedule__day
            h1.schedule__name Диджитал&nbsp;
            h2.schedule__sub-name  (VR/AR технологии)
      .schedule__list
         article.row
            .block-6
               strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
               .text-22 Центральный холл
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Регистрация участников

         article.row
            .block-6
               strong.text-27 10:30&nbsp;&ndash;&nbsp;11:40
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Церемония открытия мероприятия

         article.row
            .block-6
               strong.text-27 11:50&nbsp;–&nbsp;14:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h1.text-25.mb 11:50 - 12:30
                        h2.text-25.mb08 Установка на хакатон
                        .text-20 (ауд. 419)
                     .schedule__block
                        h1.text-25.mb 12:30 - 13:10
                        h2.text-25.mb08 1 этап разработки
                        .text-20 (ауд. 320, 323, 330, 332)
         article.row
            .block-6
               strong.text-27 Обед
            .block-18
               .schedule__event
                  .icon-food-green
                  .schedule__block
                     h1.text-25.mb 13:10 - 13:50
                     h2.text-25.mb08 Обеденный перерыв

         article.row
            .block-6
               strong.text-27 14:00&nbsp;–&nbsp;16:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h2.text-25.mb08 2 этап разработки
                        .text-20 (ауд. 320, 323, 330, 332)
                     .schedule__block
                        h2.text-25.mb08 Мастер класс VARWIN для взрослых
                        .text-20 (ауд. 324)

         article.row
            .block-6
               strong.text-27 16:00&nbsp;–&nbsp;17:00
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Консультация&ndash;демонстрация формата предстоящей защиты проектов

         article.row
            .block-6
               strong.text-27 17:10&nbsp;–&nbsp;17:30
               .text-22 Холл третьего этажа
            .block-18
               .schedule__event
                  .icon-coffee-green
                  .schedule__block
                     h2.text-25 Кофе&ndash;брейк

         article.row
            .block-6
               strong.text-27 17:40&nbsp;–&nbsp;19:10
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Нетворкинг

         article.row
            .block-6
               strong.text-27 19:10
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Отъезд участников


.schedule_list__holder.list
   section
      +triggerinn( 'Информационная безопасность')
      .schedule__list
         article.row
            .block-6
               strong.text-27 9:30&nbsp;&ndash;&nbsp;10:30
               .text-22 Центральный холл
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Регистрация участников

         article.row
            .block-6
               strong.text-27 10:30&nbsp;&ndash;&nbsp;11:40
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h1
                        strong.text-25 Церемония открытия мероприятия

         article.row
            .block-6
               strong.text-27 11:50&nbsp;–&nbsp;14:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block-sm
                        h1.text-25.mb 11:50 - 12:30
                        h2.text-25.mb08 Установка на хакатон
                        .text-20 (ауд. 329)
                     .schedule__block
                        h1.text-25.mb 12:30 - 13:50
                        h2.text-25.mb08 1 этап разработки
                        .text-20 (ауд. 329)
         article.row
            .block-6
               strong.text-27 Обед
            .block-18
               .schedule__event
                  .icon-food-green
                  .schedule__block
                     h1.text-25.mb 13:50 - 14:20
                     h2.text-25.mb08 Обеденный перерыв

         article.row
            .block-6
               strong.text-27 14:00&nbsp;–&nbsp;16:00
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__column
                     .schedule__block
                        h2.text-25.mb08 2 этап разработки
                        .text-20 (ауд. 329)
                     .schedule__block
                        h2.text-25.mb08 Мастер класс VARWIN для взрослых
                        .text-20 (ауд. 324)

         article.row
            .block-6
               strong.text-27 16:00&nbsp;–&nbsp;17:00
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Консультация&ndash;демонстрация формата предстоящей защиты проектов

         article.row
            .block-6
               strong.text-27 17:10&nbsp;–&nbsp;17:30
               .text-22 Холл третьего этажа
            .block-18
               .schedule__event
                  .icon-coffee-green
                  .schedule__block
                     h2.text-25 Кофе&ndash;брейк

         article.row
            .block-6
               strong.text-27 17:40&nbsp;–&nbsp;19:10
               .text-22  Большой зал
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Нетворкинг

         article.row
            .block-6
               strong.text-27 19:10
            .block-18
               .schedule__event
                  .icon-dot-green
                  .schedule__block
                     h2.text-25 Отъезд участников

