mixin trigger( date )
   .meeting__trigger
      .meeting__day
         .caption.mr !{date}
         .text-22 марта
      .congress__more.meeting__more
         .congress_more__text список выступлений
         .congress_more__arrow
