doctype
html

   include assets/jade/static/__head
   +title( 'Рулеточка :3' )

   body#container
      #container_main
         #black_back
         .container
            .games_name__list

               p.game__name#game-1.five 1
               p.game__name#game-2.four 2
               p.game__name#game-3.three 3
               p.game__name#game-4.two 4
               p.game__name#game-5.active 5
               p.game__name#game-6.two-l 6
               p.game__name#game-7.three-l 7
               p.game__name#game-8.four-l 8
               p.game__name#game-9.five-l 9
               p.game__name#game-10.next 10
               p.game__name#game-11.next 11
               p.game__name#game-12.next 12



      include assets/jade/footer/footer

      include assets/jade/static/script


