doctype
html

   include assets/jade/static/__head
   +title( 'Рулеточка :3' )

   body#container
      #container_main
         .animation_holder
            .main-text_holder
               .issues_holder
                  .caption.caption-1
                     .about_caption повысить
                        br
                        |качество жизни
                  .caption.caption-2
                     .about_caption справиться
                        br
                        |со стрессом
                  .caption.caption-3
                     .about_caption наладить
                        br
                        |отношения с близкими
                  .caption.caption-4
                     .about_caption найти свое призвание
                  .caption.caption-5
                     .about_caption принять себя
                  .caption.caption-6
                     .about_caption обрести спокойствие
                  .caption.caption-7
                     .about_caption перестать прокрастинировать
                  .caption.caption-8
                     .about_caption повысить самооценку
                  .caption.caption-9
                     .about_caption научиться отстаивать свои границы
                  .caption.caption-10
                     .about_caption разобраться с хронической усталостью



            .photos_little.little_10
            .photos_little.little_1
            .photos_little.little_2
            .photo_big
            .photos_little.little_4
            .photos_little.little_5
            .photos_little.little_6
            .photos_little.little_7

            .photos_little.little_8
            .photos_little.little_9




      include assets/jade/footer/footer

      include assets/jade/static/script





