mixin application-more( icon, text, textsm )
   article.application__holder
      .application__icon.mb2( class='application_icon-#{icon}' )
      .application__text
         span !{text}
         .application__text-sm !{textsm}
