mixin application-save( icon, text )
   article.application__holder
      .application__icon.mb2( class='application_icon-#{icon}' )
      .application__text.application__holder_save
         span !{text}


