mixin nomination( icon, text, title )
   .nominations__holder.text-22( class='nomination_icon-#{icon}' )
      .nominations__text_holder
         .nominations__text.mb1 !{text}
         h2.nominations__title.title !{title}
