mixin clock-0( time, text )
   article.congress__clock.row.mb3
      .block-6.flex.items-center
         .icon-clock
         strong.text-27.text-blue !{time}
      .block-18
         h1.text-25.mb05.text-blue !{text}
