mixin event( time, name, position, title  )
   article.congress__event
      .icon-dot
      strong.text-27 !{time}
      .congress__person
         h1.text-25 !{name}
         h2.text-22.mb05 !{position}
         h3.text-22.text-blue !{title}
