mixin trigger( date, number )
   .congress__trigger
      .congress__day
         .congress__numb
            h1.caption !{date}
            .text-22 августа
         h2.congress__name День !{number}
      .congress__more
         .congress_more__text список выступлений
         .congress_more__arrow
