mixin title( title )
   head
      meta( name="viewport", content="width=device-width, user-scalable=5, initial-scale=1.0" )
      meta( http-equiv="X-UA-Compatible", content="IE=edge" )
      meta( name="MobileOptimized" content="width" )
      meta( name="HandheldFriendly", content="True" )
      meta( charset = "UTF-8")
      title #{ title }
      link( rel="shortcut icon" href="assets/data/system/favicon.svg" type="image/x-icon" )
      link( type="text/css" rel="stylesheet" href="assets/css/style.css?v=2" )

      include first-css
