style.
   .purpose__container:before{background-image: url("./assets/data/images/bg-children.png");}.about_federal__container:before {background-image: url("./assets/data/images/bg-teen-sm.png");}.event__container:before {background-image: url("./assets/data/images/bg-events.png");}
