section( aria-label='Зона ответственности ФИЦТО' ).responsibility__container
   .wrapper
      .row
         article.block-12
            strong.text-27 В&nbsp;зону ответственности ФГАНУ &laquo;ФИЦТО&raquo; входит в&nbsp;том числе поддержка инфраструктуры Минпросвещения России:
         .responsibility__holder.block-12
            .responsibility__block
               .responsibility__icon.responsibility_icon-1
               strong.responsibility__text.text-22 обеспечение информационной безопасности как аппаратной части, так и&nbsp;самих информационных систем
            .responsibility__block
               .responsibility__icon.responsibility_icon-2
               strong.responsibility__text.text-22 организация функционирования центров обработки данных
